In [12]:
import matplotlib.pyplot as plt
import json
import numpy
import pandas as pd
import datetime

import utils

from sklearn.ensemble import IsolationForest
import numpy as np
rng = np.random.RandomState(42)

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 1000)

In [2]:
userdf = pd.read_csv('userdata.csv')
userdf.head()#[userdf.username == 'd3'

  username   sn   phrase                        date key action       time
0   george  0.0  dslhbyj  2018-06-03 12:58:49.658198   D   Down  694791687
1   george  0.0  dslhbyj  2018-06-03 12:58:49.658198   S   Down  694791765
2   george  0.0  dslhbyj  2018-06-03 12:58:49.658198   D     Up  694791812
3   george  0.0  dslhbyj  2018-06-03 12:58:49.658198   S     Up  694791859
4   george  0.0  dslhbyj  2018-06-03 12:58:49.658198   L   Down  694791953

In [3]:
X = utils.getX(userdf)

In [4]:
X.head()

       0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25
0  daniil  0.0  235  359  344  547  281  313  281  313  343  594  219  265  125  203  234  438  125  219  110  156  110  109  156   94
1  daniil  1.0   78  453  344  219  203  234   32  343  344  203  188  234 -203  218  219   94   94  140  281  235  125  125  109   94
2  daniil  5.0  172  344  390  219  172  250   62  219  359  235  187  219 -188   94  265  125   62  125  360  250  125   94  110  125
3  daniil  6.0  125  297  344  187  234  235   62  203  313  203  203  250 -172   63  204   78  109  141  297  234  140  109  125   94
4  daniil  7.0  375  360  328  203  141  218  375  391  328  172  156  219  281  266  203   78   47  109   94   94  125  125   94  109

In [14]:
def count_score(clf, X, true_name):
    clf.fit(X[X[0] == true_name].iloc[:,2:])
    prediction = clf.predict(X.iloc[:,2:])
    true_distribution = X.iloc[:,0]
    get_score(true_name, prediction, true_distribution)

def get_score(true_name, prediction, true_distribution):
    tp = 0
    tn = 0
    fn = 0
    fp = 0
    for i, p in enumerate(prediction):
        if p == 1 and true_distribution[i] == true_name:
            tp+=1
        if p == 1 and true_distribution[i] != true_name:
            fp+=1
        if p == -1 and true_distribution[i] == true_name:
            fn+=1
        if p == -1 and true_distribution[i] != true_name:
            tn+=1
    print('tatal =', len(prediction))
    print('user', true_name + ', score:')
    print()
    print ('tp =',tp, '\t', 'fp =',fp, '\n', 'fn =',fn, '\t', 'tn =',tn)
    print()
    print ('accuracy  =', (tp + tn)/len(prediction))
    precision = (tp)/(tp+fp)
    print ('precision =', precision)
    recall = (tp)/(tp+fn)
    print ('recall    =', recall)
    print ('f1        =', 2*(precision*recall)/(precision+recall))

In [15]:
clf_test = IsolationForest(max_samples=100, random_state=rng)
count_score(clf_test, X, 'tamara')

c:\programdata\anaconda3\lib\site-packages\sklearn\ensemble\iforest.py:187: UserWarning: max_samples (100) is greater than the total number of samples (31). max_samples will be set to n_samples for estimation.
  % (self.max_samples, n_samples))

tatal = 130
user tamara, score:

tp = 27 	 fp = 9
 fn = 4 	 tn = 90

accuracy  = 0.9
precision = 0.75
recall    = 0.8709677419354839
f1        = 0.8059701492537312

In [16]:
clf_test = IsolationForest(max_samples=100, random_state=rng)
count_score(clf_test, X, 'george')

c:\programdata\anaconda3\lib\site-packages\sklearn\ensemble\iforest.py:187: UserWarning: max_samples (100) is greater than the total number of samples (21). max_samples will be set to n_samples for estimation.
  % (self.max_samples, n_samples))

tatal = 130
user george, score:

tp = 18 	 fp = 4
 fn = 3 	 tn = 105

accuracy  = 0.9461538461538461
precision = 0.8181818181818182
recall    = 0.8571428571428571
f1        = 0.8372093023255814

In [17]:
clf_test = IsolationForest(max_samples=100, random_state=rng)
count_score(clf_test, X, 'ылшиф')

c:\programdata\anaconda3\lib\site-packages\sklearn\ensemble\iforest.py:187: UserWarning: max_samples (100) is greater than the total number of samples (35). max_samples will be set to n_samples for estimation.
  % (self.max_samples, n_samples))

tatal = 130
user ылшиф, score:

tp = 31 	 fp = 2
 fn = 4 	 tn = 93

accuracy  = 0.9538461538461539
precision = 0.9393939393939394
recall    = 0.8857142857142857
f1        = 0.9117647058823529

In [18]:
clf_test = IsolationForest(max_samples=100, random_state=rng)
count_score(clf_test, X, 'daniil')

c:\programdata\anaconda3\lib\site-packages\sklearn\ensemble\iforest.py:187: UserWarning: max_samples (100) is greater than the total number of samples (19). max_samples will be set to n_samples for estimation.
  % (self.max_samples, n_samples))

tatal = 130
user daniil, score:

tp = 17 	 fp = 107
 fn = 2 	 tn = 4

accuracy  = 0.16153846153846155
precision = 0.13709677419354838
recall    = 0.8947368421052632
f1        = 0.23776223776223776

In [19]:
clf_test = IsolationForest(max_samples=100, random_state=rng)
count_score(clf_test, X, 'chukanov')

c:\programdata\anaconda3\lib\site-packages\sklearn\ensemble\iforest.py:187: UserWarning: max_samples (100) is greater than the total number of samples (24). max_samples will be set to n_samples for estimation.
  % (self.max_samples, n_samples))

tatal = 130
user chukanov, score:

tp = 21 	 fp = 2
 fn = 3 	 tn = 104

accuracy  = 0.9615384615384616
precision = 0.9130434782608695
recall    = 0.875
f1        = 0.8936170212765957